<h1> Search </h1>

<div class="search-box">
	  <%= form_tag(search_index_path, :method => "get", id: "search-form", remote: true) do %>
	    
	    <%= select_tag :subject, options_from_collection_for_select(@subjects, "id", "name"), placeholder: "Select Subject", include_blank: true, class: "form-control", onkeyup: "$('#search-form').submit();"%>
	    
	    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Courses", onkeyup: "$('#search-form').submit();" %>	  
	  <% end %>
</div>

<div id = "results">
  <%= render "results" %>
</div>

<!-- onekeyup? -->