<p id="notice"><%= notice %></p>
<% provide(:title, @user.name) %>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>


</table>

<br>

<%= link_to 'New User', new_user_path %>
